.results
  :background black
  // FIXME This is too tall if there is a header
  :min-height 100vh

  .item
    :display inline-block
    :vertical-align top
    :margin 1px
    :text-align center
    :background #444
    :transition background 0.5s

    .tagbox
      :height 30px

      .extra-tags
        :background #888
        :color black
        :width 28px
        :display inline-block
        :vertical-align middle
        :line-height 28px

      img.tag-icon, .extra-tags
        :width 28px
        :height 28px
        :border-radius 50%
        :box-shadow 1px 1px 2px black

      img
        :margin-right 4px

    img.thumb
      :padding 1px
      :box-sizing content-box

    &:hover
      .checkmark
        :opacity 0.5

    &.is-selected
      :background #448

      img.thumb
        :opacity 0.7

      .checkmark
        :opacity 1

      &:hover
        .checkmark
          :opacity 1

    @keyframes highlight
      from
        :background-color #ff8

    @keyframes highlight-opacity
      from
        :opacity 0.7

    &.highlight
      :animation-name highlight
      :animation-iteration-count 1
      :animation-duration 2s

      img.thumb
        :animation-name highlight-opacity
        :animation-iteration-count 1
        :animation-duration 2s

    .checkmark
      :color white
      :font-size 30px
      :text-shadow 0 0 4px black
      :position absolute
      :left 20px
      :top 20px
      :opacity 0
      :transition opacity 0.5s
      :outline 0

  .active img.thumb
    :border 4px dotted black

  &.shrink
    :margin-right 15em

  .event-title
    :margin-top 2em
    :font-size 20pt

  .event-subtitle
    :font-size 10pt
    :color #888

.mode_picker
  :right 0px
  :position fixed
  :background rgba(200,200,200,0.7)
  :padding 10px

.actions
  :display none

.error
  :color red
  :font-weight bold

#prev_match
  :color blue
  :display none

/* for icon overlay */
.results a
  :text-decoration none  /* for label text */

.item

  :position relative

  .icons
    :position absolute
    :left 5px
    :bottom -7px

    .label
      :display none

    img
      :height 32px
      :width auto
      :background white
      :border 1px solid black
      :padding 1px
      :margin 4px
      :border-radius 4px
      :box-shadow 2px 2px 5px rgba(0,0,0,0.5)

    &:hover
      img
        :width auto
        :height 72px

      .icon
        :position relative

      .label
        :display inline
        :position absolute
        :color white
        :font-size 8pt
        :bottom 0
        :left 0
        :margin 11px
        :overflow hidden
        :text-shadow 1px 1px black, 0 0 3px black, 0 0 3px black, 0 0 3px black

.permalink, .subtle
  :color #99f

.subtle
  :font-size small

.results.zoomed
  .item
    :display block
    :width 100%

body, html, #content, .react-wrapper
  :height 100%
  :overflow hidden

.react-wrapper
  :display flex
  :flex-direction column

.scroll-window
  :position relative
  :overflow-y auto
  :flex 1

.navbar
  :margin-bottom 0

.details-window
  :position relative
  :text-align center
  :background black
  :width 100%
  :height 100%

.detailed-image
  :height 100%
  :width 100%
  :object-fit contain

.details-window .control
  :font-size 5vh
  :color white
  :text-shadow 0px 0px 8px black
  :text-decoration none
  :display flex
  :align-items center
  :padding 20px
  :position absolute
  :outline none
  :opacity 0
  :transition opacity 0.5s

  &:hover
    :opacity 1

.details-window .prev-control
  :top 10%
  :bottom 10%
  :left 0
  :width 20%

.details-window .play-control
  :top 45%
  :bottom 45%
  :left 45%
  :right 45%
  :justify-content center
  :opacity 0.5

.details-window .next-control
  :top 10%
  :bottom 10%
  :right 0
  :width 20%
  :justify-content flex-end

.details-window .close-control
  :right 0
  :opacity 0.5
  :justify-content flex-end

.details-window .tagbox
  :position absolute
  :bottom 10px
  :width 100%

  .tag-icon
    :height 64px
    :border-radius 32px
    :margin-right 8px
    :box-shadow 2px 2px 4px black

.details-window .comments
  :position absolute
  :bottom 0
  :width 25%
  :right -24%
  :overflow-y auto
  :max-height 100%
  :transition right 1s

  &:hover
    :right 10px

  .comment
    :background linear-gradient(#ff0, #f80)
    :color black
    :margin-bottom 10px
    :border-radius 20px
    :padding 15px

  textarea
    width: 100%
    height: 30px
    transition: height 0.5s

    &:focus
      height: 100px

#select-navbar
  :background #ccf

.results
  :-webkit-user-select none
  :-moz-user-select none
  :-ms-user-select none
  :user-select none
