.content-fluid
  %h2 Welcome to HyperCheese
  %p

    =image_tag 'logo.jpg'

  %p Choose authentication method:
  %ul
    %li
      =link_to "Username and password", new_user_session_url
    %li
      =link_to "Facebook", '/users/auth/facebook'


