%h1 Shared Pictures

%p
  %a(href="javascript:alert('coming soon!')")
    Download

- @items.each do |item|
  %a{:href => item.resized_url(:large)}(data-lightbox="box")<
    %img{:src => item.resized_url(:square)}

