.event-list
  - @by_event.each do |event,items|
    %h3
      = event.name || event.subtitle
      %span.subtitle= event.name && event.subtitle
    .event-line
      - items = event.best_items 10
      - items.each do |item|
        = image_tag item.resized_url( 'square' )

    .clearfix
