<img class={{imageClass}} style={{imageStyle}} src={{squareImage}} />
{{#if item.hasComments}}
  <img class="comments" src="/assets/comment.png"/>
{{/if}}
<div class="mini-tag-icons">
  {{#each item.tags as |tag|}}<
    img src={{tag.iconUrl}}
  />{{/each}}
</div>
