%h1 Download entire event?

%table
  %tr
    %th Event Name
    %td= @event.name

  %tr
    %th File Count
    %td= @event.items.count

  %tr
    %th Size
    %td= number_to_human_size @size

%form(action="/item/download" method="post")
  %input{ :type => "hidden", :name => "event", :value => @event.id }
  %input(type="submit" value="Download")
