%h1 Faces
.face-list
  - @tags.each do |tag|
    .face
      - tag.faces.each do |face|
        %a(href="/faces/#{face.id}")
          %img{ src: face.url }
      %br
      %strong= tag.label
      %br
      = pluralize tag.total_items || 0, 'item'
      %br
      = pluralize tag.total_faces || 0, 'face'
